.helloFirst {
    background-color: #f5f5f6;
}

.helloFirst div.OperatorRight {
    margin: 76px 0 0 260px;
    flex: 1;
    background-color: initial;
    padding: 0;
    position: relative;
}

.posill {
    position: absolute;
    width: 320px;
    height: 140px;
    background-image: url("https://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/21/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200922143827.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 0;
    right: 60px;
    text-indent: 20px;
}

.posill h2 {
    padding-top: 15px;
    font-size: 18px;
    color: #333;
}

.posill img {
    margin-left: 10px;
}

.posill p {
    font-size: 14px;
    color: #666;
}

.posill.te {
    background-image: url("https://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/21/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200922143823.png");
}

.OperatorRight .tops, .OperatorRight .sect {
    padding: 40px 0 40px 50px;
    /*border-radius: 15px;*/
    margin-bottom: 20px;
    background-color: #fff;
}

.OperatorRight .sect .swithP {
    font-size: 14px;
    font-weight: normal;
    margin-left: 40px;
    /*margin-right: 120px;*/
}

.OperatorRight .sect .swith {
    margin-left: 10px;
    position: relative;
    width: 60px;
    height: 25px;
    background-color: #e82255;
    border-radius: 12.5px;
}

.OperatorRight .sect .swith i {
    transition: all .2s linear;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    right: 2.5px;
    transform: translateY(-50%);
}

.OperatorRight .sect .swith.cancal {
    background-color: #909399;
}

.OperatorRight .sect .swith.cancal i {
    right: 37.5px;
    /*left: 2.5px;*/
}

.helloFirst .OperatorRight .cList {
    flex-wrap: wrap;
}

.helloFirst .OperatorRight .cList p {
    font-size: 14px;
    color: #000;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    width: 235px;
}

.helloFirst .OperatorRight .cList p:last-child {
    font-weight: 500;
    color: #777;
    font-size: 12px;
}

.helloFirst .Operator {
    line-height: 1;
    color: #333;
    width: 244px;
    background-color: #fff;
    font-size: 14px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 666;
}

.Operator .btns {
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 40px;
    width: 180px;
    background-color: #e82255;
    margin: 30px auto 10px;
}

.Operator .btns.te {
    background-color: #fff;
    color: #e82255;
    border: 1px solid #e82255;
    line-height: 38px;
    margin: 0 auto;
}

.apps.tactive {
    padding-right: 85px;
}

.Operator .bottonLast {
    padding: 30px 0 30px 34px;
    font-size: 14px;
    /*font-weight: 600;*/
    flex-direction: column;
    justify-content: space-between;
}

.Operator h4 {
    line-height: 1;
    font-size: 14px;
    color: #333;
    margin: 50px 0 20px;
    /*text-align: center;*/
    padding: 0 30px;
}
.Operator h3{
    line-height: 1;
    font-size: 14px;
    padding: 30px 30px 0;
}
.Operator .colorLists{
    margin: 13px auto 0;
    max-width: 200px;
}
.Operator .colorLists > div{
    margin-right: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    color: #333;
    cursor: pointer;
}
.Operator .colorLists > .active div:after{
    font-family: element-icons!important;
    position: absolute;
    display: block;
    content: '\e6da';
    font-size: 14px;
    font-weight: 600;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.Operator .colorLists > div:nth-child(4n){
    margin-right: 0;
}
.Operator .colorLists > div span{
    margin-bottom: 15px;
}
.Operator .colorLists > div div{
    position: relative;
    margin-bottom:6px ;
    width: 39px;
    height: 39px;
    border:1px #E5E5E5 solid;
    border-radius: 3px;
}
.Operator #select{
    display: block;
    width: 180px;
    height: 40px;
    margin: 12px auto 0;
}
.bottonLast .flex img {
    margin-right: 10px;
}

.bottonLast > div:first-child {
    margin-bottom: 30px;
}

.bottonLast h5 {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #666;
}

.bottonLast .fixedB {
    position: absolute;
    left: 34px;
    bottom: 100px;
}

.Operator .diops {
    text-align: center;
    font-size: 12px;
    margin-bottom: 24px;
}

.Operator .diops img {
    margin-right: 10px;
}

.Operator .photoHisList {
    overflow: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.Operator .hisList {
    display: none;
    justify-content: flex-start;
    position: absolute;
    width: 500px;
    background-color: #fff;
    right: -574px;
    top: 8px;
    height: 80%;
    padding: 24px 34px 0;
    z-index: 1001;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

.Operator .hisList .itmes {
    width: 100px !important;
}

.Operator .hisList h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.Operator .hisList h5 {
    font-size: 16px;
    margin-top: 50px;
    color: #9c9c9c;
    text-align: center;
    display: none;
}

.Operator .hisList .flex {
    margin-bottom: 20px;
}

.Operator .photoHisList .itmes {
    cursor: pointer;
    margin: 0 8px 8px 0;
    width: 88px;
    height: auto;
}

.Operator .photoHisList .itmes img {
    display: block;
    width: 100%;
}

.fixedB .flex {
    position: relative;
    margin-bottom: 15px;
}

.fixedB .flex .noC {
    position: absolute;
    bottom: 0;
    right: -116px;
    display: none;
}

.fixedB .flex:hover .noC {
    display: block;
}

.fixedB a {
    color: #333;
}

.OperatorRight .sizeClass {
    font-size: 34px;
    color: #333;
    font-weight: bold;
}

.OperatorRight .sizeClass.fixed {
    position: fixed;
    width: 100%;
    padding: 20px 50px;
    left: 260px;
    top: 60px;
    background-color: #fff;
    z-index: 666;
}

.OperatorRight .sizeClass .inpup {
    position: relative;
    width: 400px;
    margin-left: 60px;
    line-height: 40px;
}

.OperatorRight .sizeClass input {
    display: block;
    width: 100%;
    line-height: 40px;
    height: 40px;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    text-indent: 1em;
}

.sizeClass img {
    position: absolute;
    width: 40px;
    top: 50%;
    height: 40px;
    transform: translateY(-50%);
    right: 20px;
}

.OperatorRight .sizeClass .inpup ul {
    display: none;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    max-height: 200px;
    transform: translateY(100%);
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    z-index: 111;
    overflow-y: auto;
}

.OperatorRight .inpup .tags {
    line-height: 12px;
}

.OperatorRight .inpup .clear {
    margin-right: 50px;
    width: 24px;
    height: 24px;
    display: none;
}

.OperatorRight .inpup .tags span {
    display: inline-block;
    line-height: 12px;
    padding: 0 8px;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}
.OperatorRight .inpup .tags span:hover{
    color: #e82255;
}
.OperatorRight .inpup li {
    line-height: 20px;
    cursor: pointer;
    padding: 4px 20px;
}

.OperatorRight .inpup li:hover {
    background-color: rgba(0, 0, 0, .1);
}

.OperatorRight .sect .initList > label {
    position: relative;
    text-indent: 1em;
    display: block;
    margin-top: 42px;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: bold;
}

.OperatorRight .sect .initList.two {
    display: none;
}

.OperatorRight .oLeft {
    width: 690px;
    line-height: 1;
}

.oLeft .icons {
    margin-bottom: 30px;
}

.oLeft h6 {
    font-size: 14px;
    color: #333;
    line-height: 1;
}

.mar {
    margin: 10px 0;
}

.twoBtns {
    margin-bottom: 15px;
}

.twoBtns span {
    cursor: pointer;
    width: 160px;
    line-height: 48px;
    background-color: #e82255;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 15px;
    border: 1px solid #e82255;
}

.twoBtns span:last-child {
    background-color: #fff;
    color: #e82255;
}

.twoBtns span img {
    display: inline-block;
    width: 20px;
    margin-right: 8px;
}

.OperatorRight .oLeft h1 {
    font-size: 38px;
    margin-bottom: 24px;
}

.OperatorRight .oLeft .icons p {
    font-size: 16px;
    margin-bottom: 16px;
    color: #9c9c9c;
}

.oLeft > p {
    font-size: 12px !important;
    line-height: 18px;
    color: #737373;
}

.oright {
    margin-left: auto;
    /*margin-right: 140px;*/
    position: relative;
}

.OperatorRight .oLeft p:nth-child(1), .OperatorRight .oLeft p:nth-child(3) {
    width: 40%;
}
.OperatorRight .batchleft p:nth-child(1), .OperatorRight .batchleft p:nth-child(3) {
    width: auto;
}
.OperatorRight .batchleft p{
    margin-right: 25px;
}
.OperatorRight .oLeft .icons img {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    vertical-align: middle;
}

.oLeft .lizi {
    font-size: 12px;
    color: #333;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
}

.oLeft .lizi .photoHisList {
    margin-left: 20px;
}

.oLeft .lizi .itmes {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
}

.oLeft .lizi img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.OperatorRight .sect .initList > label:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #e82255;
}
.OperatorRight .sect .delbtn{
    font-size: 14px;
    color: #303030;
    margin-left: auto;
    position: relative;
    margin-right: 46px;
}
.OperatorRight .sect .delbtn img{
    position:inherit;
    width: 16px;
    height: 16px;
    transform:none;
    top: 0;
    right: 0;
}
.OperatorRight .sect .button{
    font-size: 14px;
    margin-right: 54px;
    width: 160px;
    height: 46px;
    line-height: 46px;
    background-color: #e82255;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: none;
}
.OperatorRight .cList > div {
    margin: 0 20px 30px 0;
}

.OperatorRight .cList .its {
    position: relative;
    width: 235px;
    height: 235px;
    /*box-shadow: 0 0 5px #9e9e9e;*/
    margin-bottom: 10px;
    border-radius: 5px;
}

.OperatorRight .cList .its > div {
    border: 8px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    /*transform: translate(-50%, -50%);*/
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, .1);
}

.OperatorRight .cList .its > div .flex {
    justify-content: space-between;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    transition: all 0.3s;
}

.OperatorRight .cList .its > div:hover .flex {
    transform: translateY(0);
}

.OperatorRight .cList .its span {
    cursor: pointer;
    position: relative;
    flex: 1;
    padding: 8px 0;
}

.saveJpg {
    position: fixed;
    width: 250px;
    background-color: #fff;
    color: #333333;
    font-size: 12px;
    display: none;
    padding: 10px 0;
    /*left: 500px;*/
    /*top: 500px;*/
    text-align: center;
    line-height: 1.5;
    z-index: 788;
    border-radius: 5px;
    box-shadow: 0 0 2px #999;
}

.saveJpg strong {
    padding: 8px 20px;
    cursor: pointer;
    display: block;
    text-align: left;
    position: relative;
}

.saveJpg h3 {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee
}

.saveJpg strong:hover {
    color: #e82255;
    background-color: #eee;
}

.saveJpg img {
    height: 20px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.OperatorRight .cList strong {
    display: block;
}

.OperatorRight .cList .its span:hover {
    color: #e82255;
}

.OperatorRight .cList .its span:first-child {
    border-right: 1px solid #fff;
}

.OperatorRight .cList .its img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.diglog, .diglog2 {
    position: fixed;
    padding: 40px 60px;
    background-color: #fff;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 699;
    border-radius: 15px;
}

.diglog2 h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.diglog h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.diglog img {
    display: block;
    width: 140px;
    margin: 0 auto 20px;
}

.diglog p, .diglog2 p {
    font-size: 14px;
    color: #9c9c9c;
}

.diglog i, .hisList i {
    position: absolute;
    font-size: 24px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    background: url("http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200812/5e3d6826bc0045a4b8808d4fb1d50724.png") no-repeat center;

}

.diglog2 .btn {
    font-size: 14px;
    color: #fff;
    background-color: #e82255;
    line-height: 40px;
    height: 40px;
    width: 120px;
    margin: 36px auto 0;
    border-radius: 10px;
}

.zhezhao {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 688;
    background-color: rgba(0, 0, 0, .4);
}

.loading {
    display: none;
    position: fixed;
    padding: 10px;
    width: 120px;
    line-height: 28px;
    font-size: 12px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(250, 250, 250, .8);
    color: #333;
    z-index: 888;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
