@font-face {
  font-family: "qwer";
  src: url('20200328-115902-aa1f.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "foxi";
  src: url('foxi.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "xkhy";
  src: url('xkhy.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "xer";
  src: url('xer.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "systc";
  src: url('systc.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "systi";
  src: url('systi.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "aliph";
  src: url('Alibaba-PuHuiTi-Medium.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "zkkh";
  src: url('zkkh.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "zkwy";
  src: url('zkwy.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ysyrxk";
  src: url('ysyrxk.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ysbth";
  src: url('YouSheBiaoTiHei-2.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "pft";
  src: url('PingFang-Heavy-2.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
