@font-face {
  font-family: "qwer";
  src: url('20200328-115902-aa1f.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "foxi";
  src: url('foxi.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "xkhy";
  src: url('xkhy.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "xer";
  src: url('xer.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "systc";
  src: url('systc.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "systi";
  src: url('systi.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "aliph";
  src: url('Alibaba-PuHuiTi-Medium.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "zkkh";
  src: url('zkkh.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "zkwy";
  src: url('zkwy.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ysyrxk";
  src: url('ysyrxk.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ysbth";
  src: url('YouSheBiaoTiHei-2.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "pft";
  src: url('PingFang-Heavy-2.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "hxbns";
  src: url('HuXiaoBoNanShenTi-2.otf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Muyao-Softbrush";
  src: url('Muyao-Softbrush.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "NotoSansCJK-Black-7";
  src: url('NotoSansCJK-Black-7.otf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "NotoSansCJK-Medium-5";
  src: url('NotoSansCJK-Medium-5.otf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PangMenZhengDaoBiaoTiTi-1";
  src: url('PangMenZhengDaoBiaoTiTi-1.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PangMenZhengDaoQingSongTi-2";
  src: url('PangMenZhengDaoQingSongTi-2.otf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SourceHanSerifCN-Medium-6";
  src: url('SourceHanSerifCN-Medium-6.otf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SourceHanSerifCN-Bold-2";
  src: url('SourceHanSerifCN-Bold-2.otf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ZCOOL Addict Italic 01";
  src: url('ZCOOL Addict Italic 01.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "jxzk";
  src: url('jxzk.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "lhzt";
  src: url('lhzt.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "yrdzst";
  src: url('yrdzst.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "zkklt";
  src: url('zkklt.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "zkqkhyt";
  src: url('zkqkhyt.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "zkxwlgt";
  src: url('zkxwlgt.otf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: normal;
}
