<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./temple_google.html')  %>
    <meta charset="utf-8">
    <!--//设置不缓存-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Cache" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="applicable-device" content="pc">
    <link rel="mobile-agent" content="format=html5;url=http://m.picup.shop"/>
    <meta name="Description" content="picup.ai还提供人物头像自动分割（抠头像），图像修复去水印，超分辨率，以图搜图，自动ps，风格转换，stylegan，人脸识别技术。">
    <meta name="Keywords" content="人物头像自动分割,抠头像,去水印,超分辨率,以图搜图,自动ps"/>
    <link rel="stylesheet" href="static/public.css">
    <link rel="icon" href="smallLogo.jpg">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body style="overflow: hidden;">
<div id="idPhotoEdit"></div>
</body>
</html>
