<!DOCTYPE html>
<html>
<head>
    <%= require('html-loader!./temple_google.html')  %>
    <meta charset="utf-8">
    <!--//设置不缓存-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Cache" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--    <meta name="viewport" content="width=device-width,initial-scale=1.0" id="view">-->
    <meta name="applicable-device" content="pc">
    <link rel="mobile-agent" content="format=html5;url=http://m.picup.shop"/>
    <meta name="Description" content="皮卡智能在线制作高端个人形象照，智能换背景高端大气，智能磨皮美颜，一键时尚特效，时尚个性艺术形象照私人订制">
    <meta name="Keywords" content="个人形象照、商务照、职业形象照、企业员工形象照、西装形象照"/>
    <!--  <title>AI智能抠图</title>-->
    <title>高端个人形象照在线制作时尚艺术个性背景特效处理-皮卡智能抠图PicUP.AI</title>
    <link rel="stylesheet" href="static/public.css">
    <link rel="stylesheet" href="static/css/idPhoto.css">
    <link rel="stylesheet" href="static/css/imagePhoto.css">
    <link rel="icon" href="smallLogo.jpg" type="images/x-icon">
    <!--标题栏：-->
    <!--<link rel="icon" href="static/smallLogo.png" type="image/x-icon">-->
    <!--收藏夹：-->
    <!--<link rel="shortcut icon" href="static/smallLogo.png" type="image/x-icon">-->
</head>
<style>
    header.positionTop {
        position: absolute;
        top: -100000px;
        font-size: 14px;
        color: #fff;
        line-height: 60px;
        background-color: #303030;
        /*background: url("static/images/back.jpg") no-repeat center;*/
    }

    header li {
        margin: 0 25px;
    }

    header .right span {
        display: inline-block;
        padding: 0 15px;
        line-height: 32px;
        cursor: pointer;
    }

    header .right span.active {
        border: 1px solid #a1a1a1;
        border-radius: 16px;
    }

    header li:first-child {
        margin-left: 0;
        margin-right: 60px;
    }
</style>
<body>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG4BQ8P"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<header class="positionTop">
    <div class="margin flex j-b a-i first">
        <ul class="flex">
            <li><a href="index.html"><img src="static/images/sureLogo.png" alt=""></a></li>
            <li class="cu"><a href="index.html">人像抠图</a></li>
            <li class="cu"><a href="product.html">更多产品</a></li>
            <li class="cu"><a href="aboutUs.html">关于我们</a></li>
            <li class="cu"><a href="downLoad.html">下载桌面端</a></li>
            <!--            <li class="cu">登录</li>-->
        </ul>
        <div class="right">
            <span><a href="userVip.html">定价</a></span>
            <span class="active"><a href="loginOrRegister.html">登录/注册</a></span>
        </div>
    </div>
</header>
<div id="imagePhoto"></div>
<div class="helloFirst">
    <input type="file" style="display: none" id="upImg" onchange="changeImg(event)"
           accept="image/*"/>
    <div class=" apps">
        <div class="Operator">
            <div onclick="upLoadimg()" class="btns cu"><!--Upload-->电脑上传</div>
            <div onclick="upbymobile(1)" class="btns te cu"><!--Upload-->手机上传</div>
            <h4 onclick="showHisList(1)" class="cu"><img
                    src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200817/53ee8479d4e54371a3245eb5c0482ab4.png"
                    alt="" style="margin-right: 10px;">形象照上传记录</h4>
            <div class="photoHisList hisList">
                <h5>暂无记录</h5>
                <i class="cu" onclick="showHisList()"></i>
                <div class="list" style="height: 80%;overflow-y:auto;" onscroll="scrollHis(event)"></div>
            </div>
            <div class="bottonLast">
                <div class="fixedB">
                    <h5><!--Contact us-->联系我们</h5>
                    <div class="flex a-i cu">
                        <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/79d22ed7c75049b9bd280cd5d50e6444.png"
                             alt="">
                        <p>roymind</p>
                        <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/74ee5f7eaa754347bdafe939151b5923.png"
                             alt="" style="margin-left: 20px;margin-right: 0;">
                        <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/cdf212032f814af3af8638735fcc2ea6.png"
                             alt="" class="noC" style="width:120px;">
                    </div>
                    <div class="flex a-i cu">
                        <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/b8338f76e2774b55a9a4c041523910ad.png"
                             alt="">
                        <p><a href="mailto:pikachu@picup.ai">pikachu@picup.ai</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="OperatorRight drops">
            <div class="flex tops">
                <div class="oLeft">
                    <h1>在线制作高端个人形象照</h1>
                    <div class="flex f-w icons">
                        <p>
                            <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/83cd1ba825d94728a47be4c10c2fde44.png"
                                 alt="">形象照换背景，高端大气上档次</p>
                        <p>
                            <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/83cd1ba825d94728a47be4c10c2fde44.png"
                                 alt="">智能磨皮美颜，魅力不打折扣</p>
                        <p>
                            <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/83cd1ba825d94728a47be4c10c2fde44.png"
                                 alt="">一键时尚特效，个性艺术形象照</p>
                    </div>
                    <div class="flex twoBtns">
                        <span onclick="upLoadimg()"><img
                                src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/f74e8180882a4cc282dc70c541c7712e.png"
                                alt="">电脑上传</span>
                        <span onclick="upbymobile(1)"><img
                                src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/1900436f3be2442980cb8e2887fc0d21.png"
                                alt="">手机上传</span>
                    </div>
                    <div class="flex lizi">
                        <span>没有照片？<br>试试这些图片：</span>
                        <div class="photoHisList flex">
                            <div class="itmes">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/68c0e3b336c74460958010c081d06529.jpg"
                                     alt=""></div>
                            <div class="itmes">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/ef2ad9f3ea344139999a31c01232f86d.jpg"
                                     alt=""></div>
                            <div class="itmes">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/9399fe2f719246e7b9b8a5713af9dbea.jpg"
                                     alt=""></div>
                            <div class="itmes">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/a51f89ddc0ed41c992b88d9ba4d25100.jpg"
                                     alt=""></div>
                        </div>
                    </div>
                    <!--                    <h6>照片要求：</h6>-->
                    <p>照片要求：手机拍摄即可，要有整个上半身，浅色背景为佳</p>
                    <p class="mar">适用范围：个人形象照、商务照、职业形象照、企业员工形象照、西装形象照</p>
                    <p>人群对象：团队照、员工照、创意集体照、家庭照、男士高端形象照、女士时尚形象写真照、儿童个性艺术照</p>
                    <p class="mar">职业示例：医生形象照、设计师形象照、健身教练形象照、讲师形象照、教师形象照、护士形象照、<br>企业老总形象照、高管形象照</p>
                </div>
                <div class="oright">
                    <a href="idPhoto.html" target="_blank" class="posill te">
                        <h2 class="flex a-i">在线制作证件照 <img src="https://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/21/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200922145221.png" alt=""></h2>
                        <p> 免费一键智能换背景</p>
                    </a>
                </div>
            </div>
            <div class="sect">
                <div class="sizeClass flex a-i">
                    <label>形象照选择</label>
                    <div class="swithP flex a-i"><label>人像美颜</label>
                        <div class="swith cu cancal" onclick="changeType(this)"><i></i></div>
                    </div>
                </div>
                <div class="initList one">
                    <label>常用形象照模板:</label>
                    <div class="cList flex">
                        <div class="cu">
                            <div class="its" type="1" color="#282c38,#08070c">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">黑色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#1E476D,#0A2A48">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">蓝色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#862836,#380A10">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">红色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#525E60,#404A4C">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">深灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#BAC2CE,#848E98">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">中灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#D5DAE5,#BAC0CC">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                    </div>
                    <label>热门形象照模板:</label>
                    <!--                    <div class="classBtn flex mb-45">-->
                    <!--                        <span>全部</span>-->
                    <!--                        <span class="active">渐变</span>-->
                    <!--                        <span>阴影</span>-->
                    <!--                        <span>描边</span>-->
                    <!--                        <span>文字</span>-->
                    <!--                        <span>混合</span>-->
                    <!--                    </div>-->
                    <div class="cList flex contents">
                        <div class="cu">
                            <div class="its" type="1" color="#C2C2C8,#666A76">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#1A4250,#0A424E">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#5A2406,#381202">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#027A9A,#023C58">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#A2A0A2,#928C8E">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#FAFAFE,#DEDCE3">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/773ffba6c0404d78a61a073e0f899a43.jpg,http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200914/ef961596f4774fad9dbeb2466b32299b.png">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">文字</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200917/285b6bc5acaf4688af2fec65e05cd9a7.jpg,http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200917/339f27b976214663a98b53a17af0eb28.png">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/2157d80907934a98879edbb6bb7a104f.jpg,http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200917/290ea68c38ab45e99338f90db0ba6b74.png">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/2c8311ab94964c1489dc1710c6af19ef.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/7fcdf47490804ee788b50af69e1f67d8.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/aaa7ca1e604d46548f49026b9b332db2.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/2157d80907934a98879edbb6bb7a104f.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/938ec6bc218445228e703bb2cc007925.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/fcf9aebb6d794313bb32042798486f93.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/d3935977f741476d80191499a294be7c.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/e687618f57d149b78843907875cc296c.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/235b91206abe4cb2879e4dff559f3d6e.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/3abdefed127e4ac6ab1307a596a58cea.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/01aa928adf294a1b80d8d018e4185b4e.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/93c62db05fdf428d850a50179ff67089.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200918/e77b10ebfc72425c892fe29e0c35e813.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200918/2c667171f3834cababfc7db10aaf431b.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200918/21e0b163ec7b450aa0eda32388f47892.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200918/59ce7907207b417992bda0d2550554ba.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200918/3f0d9103193d4dbba66092d2ea914263.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200918/9ecf42d6a21b4d09b444b0ff3714b9fe.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>


                        <div class="cu">
                            <div class="its" type="3">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="4" bColor="#F9C042">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>

                        <div class="cu">
                            <div class="its" type="2" upColor="#F9C042"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/e687618f57d149b78843907875cc296c.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2" upColor="#67C23A"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/78c847def29d4406b00022659156aafb.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2" upColor="#F56C6C"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/ee8f26a4a25e4bf79f9caec042041a77.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2" upColor="#E6A23C"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/384761df9b434dc7a37d092dc48016e9.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2" upColor="#909399"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/969734c618b04d3fa6ff48cfad254625.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2" upColor="#000000"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/d4c5a4d2e8c0400db1bd7f1143241e20.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2" upColor="#E4E7ED"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/a60707c3b9ee45cd852cb74f02cda42a.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2" upColor="#ED1717"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/f07498946a6d4253a7b8e699706d2e08.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="6" colors="#ED1717,#fff">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/17/3c45728cdfd549f5b12c67997be8236d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="diglog">
    <i class="cu" onclick="setDiog()"></i>
    <h4>扫码上传图片</h4>
    <div id="qrcode"></div>
    <p>手机上传图片时，请不要关闭弹框</p>
</div>
<div class="diglog2">
    <i class="cu" onclick="setDiog()"></i>
    <h4>提示</h4>
    <p style="line-height: 20px;color: #333;width:260px">检测到多人体，也许有他人或图案影响。您可以换一张照片重试</p>
    <div class="btn cu" onclick="reupload()">重新上传</div>
</div>
<div class="zhezhao"></div>
<div class="loading">
    处理中...
</div>
<script>
    var baseUrl = '<%= VUE_APP_BASEURL %>',
        urlhref = '<%= NODE_ENV %>' === 'development' ? 'http://wwwdev.picup.shop' : 'http://www.picup.shop';
    // var baseUrl = '<%= VUE_APP_BASEURL %>',urlhref='http://wwwdev.picup.shop';
</script>
<script src="static/jquery-1.11.3.min.js"></script>
<script src="static/qrcode.min.js"></script>
<script src="static/imagePhoto.js"></script>
<script>
    var token = localStorage.getItem( 'user_Token' ), fileId, mattingMsg = {
            fileId:'',
            // bgRemovedPreview: 'https://deeplor.oss-cn-hangzhou.aliyuncs.com/matting2/2020/09/21/http___deeplor.oss-cn-hangzhou.aliyuncs.com_upload_image_20200918_3cc4d585fc954b9d877e858a84739c95%20%281%29.png',
            bgRemovedPreview: 'http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200918/3cc4d585fc954b9d877e858a84739c95.png',
            oripro: 'http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200918/3cc4d585fc954b9d877e858a84739c95.png',
            original: 'http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/68c0e3b336c74460958010c081d06529.jpg',
            mattingType: 9,
            originalHeight: "1600",
            originalWidth: "1600",
            previewHeight: "500",
            previewWidth: "500",
            maskRect: {x: 427, width: 896, y: 95, height: 1505},
        }, taskFlag, timer, page = 1, pageSize = 20, oriMattingUrl = '', filename = [], uptype = 1, downItem,
        BeautyResult = {}, noBeautyResult = {}, downType = 'image/png'//避免重复扣点;
    var qrcode = new QRCode( document.getElementById( "qrcode" ), {
        text: urlhref + "/uploadBymobile.html",
        width: 128,
        height: 128,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    } );

    function initDiv() {
        $( '.cList .its img' ).attr( 'src', 'http://www.picup.shop/img-static/img/loading.gif' );
        var oDiv = $( '.cList .its' ), oImg = new Image(), oBtn = $( '.classBtn span' ), w = 900, h = 1275;
        var point = mattingMsg.maskRect, ow = mattingMsg.originalWidth, oh = mattingMsg.originalHeight;
        var downTop = h * 0.08, ih = (h - downTop) * oh / point.height, iw = ow * ih / oh, left;//
        var afterPoint = {
            x: iw * point.x / ow,
            y: ih * point.y / oh,
            w: iw * point.width / ow,
            h: ih * point.height / oh
        };
        downTop = downTop - afterPoint.y;
        if (afterPoint.w > w) {
            iw = (w * ow / point.width);
            ih = iw * oh / ow;
            left = 0;
            downTop = h - ih;
            afterPoint = {
                x: iw * point.x / ow,
                y: ih * point.y / oh,
                w: iw * point.width / ow,
                h: ih * point.height / oh
            };
        }
        left = w / 2 - iw / 2 - (afterPoint.x + afterPoint.w / 2 - iw / 2);
        oImg.crossOrigin = '';
        oImg.onload = function () {
            var data = {};
            $.each( oDiv, function (idx, item) {
                var type = $( item ).attr( 'type' );
                if (type == 1) {//径向渐变
                    var colorStr = $( item ).attr( 'color' );
                    data = {
                        colorStr: colorStr,
                        imgObj: oImg,
                        w: w,
                        h: h,
                        x: left,
                        y: downTop,
                        iw: iw,
                        ih: ih,
                        downtype: ''
                    };
                    $( item ).find( 'img' ).attr( 'src', specialEffectsList.RadialGradient.init( data ) )
                } else if (type == 2) {//前后背景
                    var backStr = $( item ).attr( 'imgSrc' ).split( ',' ), callback = function (can) {
                        $( item ).find( 'img' ).attr( 'src', can.toDataURL() )
                    }, scale = $( item ).width() / w;
                    $( item ).css( {
                        backgroundImage: 'url(' + backStr[0] + ')',
                        backgroundSize: 'cover',
                        backgroundPosition: 'center'
                    } )
                    $( item ).find( 'img:first-child' ).attr( 'src', mattingMsg.bgRemovedPreview )
                    $( item ).find( 'img:first-child' ).css( {
                        left: left * scale,
                        top: downTop * scale,
                        width: iw * scale,
                        transform: 'none',
                        height: ih * scale
                    } )
                    if (backStr.length > 1) {
                        var oims = $( "<img src='" + backStr[1] + "' class='Addimg'/>" );
                        oims.css( {left: 0, top: 0, width: '100%', transform: 'none'} );
                        if ($( item ).find( '.Addimg' )) $( item ).find( '.Addimg' ).remove();
                        $( item ).append( oims );
                    }
                } else if (type == 3) {//三个影子
                    var headw = iw / 3;
                    data = {imgObj: oImg, w: w, h: h, x: left, y: downTop, iw: iw, ih: ih, headw: headw, downtype: ''};
                    $( this ).find( 'img' ).attr( 'src', specialEffectsList.ThreeShow.init( data ) )
                } else if (type == 4) {//加相框
                    var bColor = $( this ).attr( 'bColor' );
                    data = {
                        bColor: bColor,
                        imgObj: oImg,
                        w: w,
                        h: h,
                        x: left,
                        y: downTop,
                        iw: iw,
                        ih: ih,
                        downtype: '',
                        size: 40,
                        iheight:downTop+afterPoint.y
                    };
                    $( this ).find( 'img' ).attr( 'src', specialEffectsList.AddPhotoFrame.init( data ) )
                } else if (type == 5) {//加佛光
                    var upColor = $( this ).attr( 'upColor' ), backUrl = $( this ).attr( 'backUrl' ),
                        callback = function (can) {
                            $( item ).find( 'img' ).attr( 'src', can.toDataURL() )
                        };
                    data = {
                        imgObj: oImg,
                        w: w,
                        h: h,
                        x: left,
                        y: downTop,
                        iw: iw,
                        ih: ih,
                        downtype: '',
                        upColor: upColor,
                        backUrl: backUrl
                    };
                    // $( this ).css( {backgroundImage: 'url(' + backUrl + ')',} );
                    $( this ).find( 'img' ).attr( 'src', specialEffectsList.AddBuddhaLight.init( data, callback ) )
                } else if (type == 6) {//加圆圈
                    var colors = $( this ).attr( 'colors' );
                    data = {
                        imgObj: oImg,
                        w: w,
                        h: h,
                        x: left,
                        y: downTop,
                        iw: iw,
                        ih: ih,
                        downtype: '',
                        colors: colors,
                        bcolor: '#000'
                    };
                    $( this ).find( 'img' ).attr( 'src', specialEffectsList.AddArc.init( data ) )
                }
            } )
        };
        oImg.src = addUrlQuery( mattingMsg.bgRemovedPreview );
        oBtn.click( function () {
            $( this ).addClass( 'active' ).siblings( 'span' ).removeClass( 'active' );
            console.log( $( this ).index() )
        } )
    }

    function clickDiv() {//添加点击事件
        $( '.cList .cu .its' ).click( function () {
            var type = $( this ).attr( 'type' ), indexs = $( this ).parents().index();
            var data = Object.assign( mattingMsg, {
                ori: mattingMsg.original,
                pro: mattingMsg.bgRemovedPreview,
                type: type,
                fileId: mattingMsg.fileId ? mattingMsg.fileId : '',
                mattingType: 9,
                idxSplace: indexs
            } )
            if (type == 1) data.color = $( this ).attr( 'color' );
            else if (type == 2) data.backlist = $( this ).attr( 'imgSrc' );
            else if (type == 4) data.bColor = $( this ).attr( 'bColor' );
            else if (type == 5) {
                data.upColor = $( this ).attr( 'upColor' );
                data.backUrl = $( this ).attr( 'backUrl' );
            } else if (type == 6) data.colors = $( this ).attr( 'colors' );
            localStorage.setItem( 'imagephotoMsg', JSON.stringify( data ) );
            window.open( 'imagePhotoEdit.html' );
        } )
    }

    function initindexImg() {//接收从首页过来的图片
        var imgUrl = window.localStorage.getItem( 'initImg' );
        if (imgUrl) {
            window.localStorage.removeItem( 'initImg' );
            noBeautyResult = {};
            BeautyResult = {};
            dreepByurl( imgUrl )
        }
    }

    $( function () {
        document.addEventListener( 'scroll', function (e) {
            var oDivs = $( '.sect' ).offset().top - 60,
                stop = document.documentElement.scrollTop || document.body.scrollTop,
                cw = document.documentElement.clientWidth || document.body.clientWidth;
            if (stop > oDivs) {
                $( '.sizeClass' ).addClass( 'fixed' );
                $( '.sizeClass' ).width( $( window ).width() - 260 )
            } else {
                $( '.sizeClass' ).removeClass( 'fixed' );
                $( '.sizeClass' ).width( 'auto' )
            }
        } )
        initDiv();
        clickDiv();
        initindexImg()
    } )
    pasteTomatting();
    stopPrevent();

</script>
</body>
</html>
