<!DOCTYPE html>
<html>
<head>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push( {
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        } );
        var f = d.getElementsByTagName( s )[0],
            j = d.createElement( s ), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore( j, f );
    })( window, document, 'script', 'dataLayer', 'GTM-WG4BQ8P' );
    </script>
    <meta charset="utf-8">
    <!--//设置不缓存-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Cache" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" id="view">
    <meta name="applicable-device" content="pc">
    <link rel="mobile-agent" content="format=html5;url=http://m.picup.shop"/>
    <meta name="Description" content="皮卡智能证件照免费在线制作,一寸/二寸各种证件照尺寸,软件一键换背景蓝底/白底/红底,手机拍摄就可以轻松制作最美证件照/结婚证件照/电子证件照">
    <meta name="Keywords" content="最美证件照,证件照尺寸,结婚证件照,蓝底证件照,白底证件照,证件照换背景"/>
    <!--  <title>AI智能抠图</title>-->
    <title>智能证件照免费在线制作多尺寸换背景-皮卡智能抠图PicUP.AI</title>
    <link rel="stylesheet" href="static/public.css">
    <link rel="stylesheet" href="static/css/idPhoto.css">
    <link rel="stylesheet" href="static/css/imagePhoto.css">
    <link rel="icon" href="smallLogo.jpg" type="images/x-icon">
    <!--标题栏：-->
    <!--<link rel="icon" href="static/ball.png" type="image/x-icon">-->
    <!--收藏夹：-->
    <!--<link rel="shortcut icon" href="static/ball.png" type="image/x-icon">-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement( "script" );
            // hm.src = "https://hm.baidu.com/hm.js?156c05f7319464c49127c703f9ed21df";
            hm.src = "https://hm.baidu.com/hm.js?e12fc5e6ff2012ad0838c01122228ca7";
            var s = document.getElementsByTagName( "script" )[0];
            s.parentNode.insertBefore( hm, s );
        })();
    </script>
</head>
<style>
    header.positionTop {
        position: absolute;
        top: -100000px;
        font-size: 14px;
        color: #fff;
        line-height: 60px;
        background-color: #303030;
        /*background: url("static/images/back.jpg") no-repeat center;*/
    }

    header li {
        margin: 0 25px;
    }

    header .right span {
        display: inline-block;
        padding: 0 15px;
        line-height: 32px;
        cursor: pointer;
    }

    header .right span.active {
        border: 1px solid #a1a1a1;
        border-radius: 16px;
    }

    header li:first-child {
        margin-left: 0;
        margin-right: 60px;
    }
</style>
<body>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG4BQ8P"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<header class="positionTop">
    <div class="margin flex j-b a-i first">
        <ul class="flex">
            <li><a href="index.html"><img src="static/images/sureLogo.png" alt=""></a></li>
            <li class="cu"><a href="index.html">人像抠图</a></li>
            <li class="cu"><a href="product.html">更多产品</a></li>
            <li class="cu"><a href="aboutUs.html">关于我们</a></li>
            <li class="cu"><a href="downLoad.html">下载桌面端</a></li>
            <!--            <li class="cu">登录</li>-->
        </ul>
        <div class="right">
            <span><a href="userVip.html">定价</a></span>
            <span class="active"><a href="loginOrRegister.html">登录/注册</a></span>
        </div>
    </div>
</header>
<div id="imagePhoto"></div>
<div class="helloFirst">
    <input type="file" style="display: none" id="upImg" onchange="changeImg(event)"
           accept="image/*"/>
    <div class=" apps">
        <div class="Operator">
            <div onclick="upLoadimg()" class="btns cu"><!--Upload-->电脑上传</div>
            <div onclick="upbymobile(1)" class="btns te cu"><!--Upload-->手机上传</div>
            <h4 onclick="showHisList(1)" class="cu"><img
                    src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200817/53ee8479d4e54371a3245eb5c0482ab4.png"
                    alt="" style="margin-right: 10px;">形象照上传记录</h4>
            <div class="photoHisList hisList">
                <h5>暂无记录</h5>
                <i class="cu" onclick="showHisList()"></i>
                <div class="list" style="height: 80%;overflow-y:auto;" onscroll="scrollHis(event)"></div>
                <!--                <div class="hisItems">-->
                <!--                    <h3>2020-08-24</h3>-->
                <!--                    <div class="flex a-i">-->
                <!--                        <div class="itmes"><img-->
                <!--                                src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting_original/2020/08/11/0bc49d7dc82742dc80ef15e99898e861.png"-->
                <!--                                alt=""></div>-->
                <!--                        <div class="itmes"><img-->
                <!--                                src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting_original/2020/08/11/0bc49d7dc82742dc80ef15e99898e861.png"-->
                <!--                                alt=""></div>-->
                <!--                        <div class="itmes"><img-->
                <!--                                src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting_original/2020/08/11/0bc49d7dc82742dc80ef15e99898e861.png"-->
                <!--                                alt=""></div>-->
                <!--                        <div class="itmes"><img-->
                <!--                                src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/matting_original/2020/08/11/0bc49d7dc82742dc80ef15e99898e861.png"-->
                <!--                                alt=""></div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <div class="bottonLast">
                <div class="fixedB">
                    <h5><!--Contact us-->联系我们</h5>
                    <div class="flex a-i cu">
                        <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/79d22ed7c75049b9bd280cd5d50e6444.png"
                             alt="">
                        <p>roymind</p>
                        <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/74ee5f7eaa754347bdafe939151b5923.png"
                             alt="" style="margin-left: 20px;margin-right: 0;">
                        <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/cdf212032f814af3af8638735fcc2ea6.png"
                             alt="" class="noC" style="width:120px;">
                    </div>
                    <div class="flex a-i cu">
                        <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/b8338f76e2774b55a9a4c041523910ad.png"
                             alt="">
                        <p><a href="mailto:pikachu@picup.ai">pikachu@picup.ai</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="OperatorRight drops">
            <div class="flex a-i tops">
                <div class="oLeft">
                    <h1>在线制作高端个人形象照</h1>
                    <div class="flex f-w icons">
                        <p>
                            <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/83cd1ba825d94728a47be4c10c2fde44.png"
                                 alt="">形象照换背景，高端大气上档次</p>
                        <p>
                            <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/83cd1ba825d94728a47be4c10c2fde44.png"
                                 alt="">智能磨皮美颜，魅力不打折扣</p>
                        <p>
                            <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/83cd1ba825d94728a47be4c10c2fde44.png"
                                 alt="">一键时尚特效，个性艺术形象照</p>
                    </div>
                    <div class="flex twoBtns">
                        <span onclick="upLoadimg()"><img
                                src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/f74e8180882a4cc282dc70c541c7712e.png"
                                alt="">电脑上传</span>
                        <span onclick="upbymobile(1)"><img
                                src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200811/1900436f3be2442980cb8e2887fc0d21.png"
                                alt="">手机上传</span>
                    </div>
                    <div class="flex lizi">
                        <span>没有照片？<br>试试这些证件照：</span>
                        <div class="photoHisList flex">
                            <div class="itmes">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/68c0e3b336c74460958010c081d06529.jpg"
                                     alt=""></div>
                            <div class="itmes">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/ef2ad9f3ea344139999a31c01232f86d.jpg"
                                     alt=""></div>
                            <div class="itmes">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/9399fe2f719246e7b9b8a5713af9dbea.jpg"
                                     alt=""></div>
                            <div class="itmes">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/a51f89ddc0ed41c992b88d9ba4d25100.jpg"
                                     alt=""></div>
                        </div>
                    </div>
                    <!--                    <h6>照片要求：</h6>-->
                    <p>照片要求：手机拍摄证件照即可，浅色背景墙壁为佳</p>
                    <p class="mar">适用范围：个人形象照、商务照、职业形象照、企业员工形象照、西装形象照</p>
                    <p>人群对象：团队照、员工照、创意集体照、家庭照、男士高端形象照、女士时尚形象写真照、儿童个性艺术照</p>
                    <p class="mar">职业示例∶医生形象照、设计师形象照、健身教练形象照、讲师形象照、教师形象照、护士形象照、企业老总形象照、高管形象照</p>
                </div>
                <div class="oright">
                    <!--                    <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200812/cca3f67aabfa4cb8a49965c949525ff6.png"-->
                    <!--                         alt="">-->
                </div>
            </div>
            <div class="sect">
                <div class="initList one">
                    <label>常用形象照模板:</label>
                    <div class="cList flex">
                        <div class="cu">
                            <div class="its" type="1" color="#282c38,#08070c">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">黑色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#1E476D,#0A2A48">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">蓝色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#862836,#380A10">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">红色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#525E60,#404A4C">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">深灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#BAC2CE,#848E98">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">中灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#D5DAE5,#BAC0CC">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                    </div>
                    <label>热门证件照尺寸:</label>
                    <div class="classBtn flex mb-45">
                        <span>全部</span>
                        <span class="active">渐变</span>
                        <span>阴影</span>
                        <span>描边</span>
                        <span>文字</span>
                        <span>混合</span>
                    </div>
                    <div class="cList flex contents">
                        <div class="cu">
                            <div class="its" type="1" color="#C2C2C8,#666A76">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#1A4250,#0A424E">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#5A2406,#381202">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#027A9A,#023C58">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#A2A0A2,#928C8E">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="1" color="#FAFAFE,#DEDCE3">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">浅灰色</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/773ffba6c0404d78a61a073e0f899a43.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">文字</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/2c8311ab94964c1489dc1710c6af19ef.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/7fcdf47490804ee788b50af69e1f67d8.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/aaa7ca1e604d46548f49026b9b332db2.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/2157d80907934a98879edbb6bb7a104f.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/938ec6bc218445228e703bb2cc007925.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/fcf9aebb6d794313bb32042798486f93.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/d3935977f741476d80191499a294be7c.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/e687618f57d149b78843907875cc296c.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/235b91206abe4cb2879e4dff559f3d6e.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/3abdefed127e4ac6ab1307a596a58cea.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/01aa928adf294a1b80d8d018e4185b4e.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/93c62db05fdf428d850a50179ff67089.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/06ae7452fe2d4512ba2fa7cf7750b4e6.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/2e07ad2f582b436f92a2326015e38bf3.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/af85edf381284ce68c586fad9701bc54.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="2"
                                 imgSrc="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/631b8cd0cc1b4861b82eeb050753019a.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>


                        <div class="cu">
                            <div class="its" type="3">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="4" bColor="#F9C042">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>

                        <div class="cu">
                            <div class="its" type="5" upColor="#F9C042"
                                 backUrl="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/e687618f57d149b78843907875cc296c.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="5" upColor="#67C23A"
                                 backUrl="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/78c847def29d4406b00022659156aafb.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="5" upColor="#F56C6C"
                                 backUrl="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/ee8f26a4a25e4bf79f9caec042041a77.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="5" upColor="#E6A23C"
                                 backUrl="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/384761df9b434dc7a37d092dc48016e9.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="5" upColor="#909399"
                                 backUrl="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/969734c618b04d3fa6ff48cfad254625.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="5" upColor="#000000"
                                 backUrl="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/d4c5a4d2e8c0400db1bd7f1143241e20.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="5" upColor="#E4E7ED"
                                 backUrl="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/a60707c3b9ee45cd852cb74f02cda42a.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="5" upColor="#ED1717"
                                 backUrl="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200911/f07498946a6d4253a7b8e699706d2e08.jpg">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>
                        <div class="cu">
                            <div class="its" type="6" colors="#ED1717">
                                <img src="http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png"
                                     alt="">
                                <div class="flex"><span onclick="downLoad(this,event)">下载 </span><span>编辑</span></div>
                            </div>
                            <!--                            <p class="over">分割</p>-->
                        </div>

                    </div>
                </div>
                <div class="initList two">
                    <label>搜索结果:</label>
                    <div class="cList flex content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="diglog">
    <i class="cu" onclick="setDiog()"></i>
    <h4>扫码上传图片</h4>
    <div id="qrcode"></div>
    <p>手机上传图片时，请不要关闭弹框</p>
</div>
<div class="diglog2">
    <i class="cu" onclick="setDiog()"></i>
    <h4>提示</h4>
    <p style="line-height: 20px;color: #333;width:260px">检测到多人体，也许有他人或图案影响。您可以换一张照片重试</p>
    <div class="btn cu" onclick="reupload()">重新上传</div>
</div>
<div class="zhezhao"></div>
<div class="loading">
    处理中...
</div>
<div class="saveJpg">
    <h3>选择下载类型</h3>
    <strong onclick="downLoad2(0)">PNG格式<br>高保真，适合打印 </strong>
    <strong onclick="downLoad2(1)">JPG格式<br>文件小，适合上传 </strong>
</div>
<script>
    var baseUrl = '<%= VUE_APP_BASEURL %>',
        urlhref = '<%= NODE_ENV %>' === 'development' ? 'http://wwwdev.picup.shop' : 'http://www.picup.shop';
    // var baseUrl = '<%= VUE_APP_BASEURL %>',urlhref='http://wwwdev.picup.shop';
</script>
<script src="static/jquery-1.11.3.min.js"></script>
<script src="static/qrcode.min.js"></script>
<script src="static/imagePhoto.js"></script>
<script>


    var token = localStorage.getItem( 'user_Token' ), fileId, mattingMsg = {
            bgRemovedPreview: 'http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png',
            oripro: 'http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png',
            original: 'http://deeplor.oss-cn-hangzhou.aliyuncs.com/upload/image/20200912/1514df7f4b9d49358c2709aab09f0d5d.png',
            mattingType: 9,
            originalHeight: "1620",
            originalWidth: "1080",
            headData: {
                bottom: 432.8,
                left: 356.2,
                mouseY: 371.4,
                right: 704,
                top: -7.3
            },
        }, taskFlag, timer, page = 1, pageSize = 20, oriMattingUrl = '', filename = [], uptype = 1, downItem,
        downType = 'image/png'//避免重复扣点;
    var qrcode = new QRCode( document.getElementById( "qrcode" ), {
        text: urlhref + "/uploadBymobile.html",
        width: 128,
        height: 128,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    } );

    function initDiv() {
        var oDiv = $( '.cList .its' ), oImg = new Image(), oBtn = $( '.classBtn span' ), w = 900, h = 1275;
        var scaleW = 2 / 9 * h / w;
        var iw = w * scaleW * mattingMsg.originalWidth / (mattingMsg.headData.right - mattingMsg.headData.left);//缩放后的图片宽
        var ih = iw * mattingMsg.originalHeight / mattingMsg.originalWidth;
        var top = -(ih * mattingMsg.headData.top / mattingMsg.originalHeight) + h * 0.05;
        var left = w / 2 - ((mattingMsg.headData.right - mattingMsg.headData.left) / 2 + mattingMsg.headData.left) * iw / mattingMsg.originalWidth;
        var downTop = h - top <= ih ? top : h - ih;//吸底判断
        oImg.crossOrigin = '';
        oImg.onload = function () {
            var data = {};
            $.each( oDiv, function (idx, item) {
                var type = $( item ).attr( 'type' );
                if (type == 1) {//径向渐变
                    var colorStr = $( item ).attr( 'color' );
                    data = {
                        colorStr: colorStr,
                        imgObj: oImg,
                        w: w,
                        h: h,
                        x: left,
                        y: downTop,
                        iw: iw,
                        ih: ih,
                        downtype: ''
                    };
                    $( item ).find( 'img' ).attr( 'src', specialEffectsList.RadialGradient.init( data ) )
                } else if (type == 2) {//前后背景
                    var backStr = $( item ).attr( 'imgSrc' ), callback = function (can) {
                        $( item ).find( 'img' ).attr( 'src', can.toDataURL() )
                    };
                    data = {
                        backStr: backStr,
                        imgObj: oImg,
                        w: w,
                        h: h,
                        x: left,
                        y: downTop,
                        iw: iw,
                        ih: ih,
                        downtype: ''
                    };
                    specialEffectsList.AddBackgroundImage.init( data, callback )
                } else if (type == 3) {//三个影子
                    var headw = (mattingMsg.headData.right - mattingMsg.headData.left) * iw / mattingMsg.originalWidth;
                    data = {imgObj: oImg, w: w, h: h, x: left, y: downTop, iw: iw, ih: ih, headw: headw, downtype: ''};
                    $( this ).find( 'img' ).attr( 'src', specialEffectsList.ThreeShow.init( data ) )
                } else if (type == 4) {//加相框
                    var bColor = $( this ).attr( 'bColor' )
                    data = {
                        bColor: bColor,
                        imgObj: oImg,
                        w: w,
                        h: h,
                        x: left,
                        y: downTop,
                        iw: iw,
                        ih: ih,
                        downtype: '',
                        size: 40
                    };
                    $( this ).find( 'img' ).attr( 'src', specialEffectsList.AddPhotoFrame.init( data ) )
                } else if (type == 5) {//加佛光
                    var upColor = $( this ).attr( 'upColor' ), backUrl = $( this ).attr( 'backUrl' ),
                        callback = function (can) {
                            $( item ).find( 'img' ).attr( 'src', can.toDataURL() )
                        };
                    data = {
                        imgObj: oImg,
                        w: w,
                        h: h,
                        x: left,
                        y: downTop,
                        iw: iw,
                        ih: ih,
                        downtype: '',
                        upColor: upColor,
                        backUrl: backUrl
                    };
                    // $( this ).css( {backgroundImage: 'url(' + backUrl + ')',} );
                    $( this ).find( 'img' ).attr( 'src', specialEffectsList.AddBuddhaLight.init( data, callback ) )
                } else if (type == 6) {//加圆圈
                    var colors = $( this ).attr( 'colors' );
                    data = {
                        imgObj: oImg,
                        w: w,
                        h: h,
                        x: left,
                        y: downTop,
                        iw: iw,
                        ih: ih,
                        downtype: '',
                        colors: colors,
                        bcolor: '#000'
                    };
                    $( this ).find( 'img' ).attr( 'src', specialEffectsList.AddArc.init( data ) )
                }
            } )
        };
        oImg.src = mattingMsg.bgRemovedPreview + '?id=' + Math.random();
        oBtn.click( function () {
            $( this ).addClass( 'active' ).siblings( 'span' ).removeClass( 'active' );
            console.log( $( this ).index() )
        } )
    }

    initDiv();
    pasteTomatting();
    stopPrevent();

</script>
</body>
</html>
