<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./temple_google.html')  %>
    <meta charset="utf-8">
    <!--//设置不缓存-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Cache" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="applicable-device" content="pc">
    <link rel="mobile-agent" content="format=html5;url=http://m.picup.shop"/>
<!--    <link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    <link rel="icon" href="smallLogo.jpg">
<!--    <title>登录/注册</title>-->
    <title>登录</title>
</head>
<body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG4BQ8P"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<div id="login"></div>
<!-- built files will be auto injected -->
</body>
</html>
