@import "flex";
@import "margin";
@import "padding";
$co:#e82255;
$to:#21a9e8;
$head:#F75191;
$pic:#4254E6;
$be:#2ED8B4;
.down_line{
  text-decoration:underline;
}
.top_line{
  text-decoration:overline;
}
.del_line{
  text-decoration:line-through;
}
.otherss   .el-color-picker{
  width: 28px;
  height:28px;
  border: 1px solid #ececec;
}
.otherss  .el-color-picker__trigger,.fmune   .el-color-picker__trigger{
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
}
.otherss .el-color-picker__color,.fmune  .el-color-picker__color{
  border: none;
}
.fmune .el-color-picker{
  height: 20px;
}
.fmune .el-color-picker .el-icon-arrow-down:before{
  content: '';
}
div.el-popper.te{
  margin-top: 30px;
}
.editPictures .el-dialog__body{
  padding: 0;
}
.matting .el-slider__runway{
  margin: 10px 0;
}
.first2 .el-scrollbar__wrap,.helloFirst .el-scrollbar__wrap,.editPictures  .el-scrollbar__wrap{
  overflow: scroll;
  height: 100%;
  overflow-x: hidden;
}
.el-notification{
  z-index: 3000;
}
.loadingSub .el-progress__text{
  color: #fff;
}
.mattingVideo .el-color-picker__trigger,.mattingVideo .el-color-picker__mask{
  width: 80px;
  height: 28px;
}
.mattingVideo .el-loading-mask{
  z-index: 222;
}
.mattingVideo .el-icon-loading{
  font-size: 28px;
}
.boxVideo .el-input__inner{
  height: 100%;
}
