.ml-5 {
  margin-left: 0.05rem;
}
.ml-10 {
  margin-left: 0.1rem;
}
.ml-15 {
  margin-left: 0.15rem;
}
.ml-20 {
  margin-left: 0.2rem;
}
.ml-25 {
  margin-left: 0.25rem;
}
.ml-30 {
  margin-left: 0.30rem;
}
.ml-35 {
  margin-left: 0.35rem;
}
.ml-40 {
  margin-left: 0.40rem;
}
.ml-45 {
  margin-left: 0.45rem;
}
.ml-50 {
  margin-left: 0.50rem;
}
.ml-55 {
  margin-left: 0.55rem;
}
.ml-60 {
  margin-left: 0.60rem;
}
.ml-65 {
  margin-left: 0.65rem;
}
.ml-70 {
  margin-left: 0.70rem;
}
.ml-75 {
  margin-left: 0.75rem;
}
.ml-80 {
  margin-left: 0.80rem;
}
.ml-85 {
  margin-left: 0.85rem;
}
.ml-90 {
  margin-left: 0.90rem;
}
.ml-95 {
  margin-left: 0.95rem;
}
.ml-100 {
  margin-left: 1rem;
}
.mr-5 {
  margin-right:0.05rem;
}
.mr-10 {
  margin-right: 0.10rem;
}
.mr-15 {
  margin-right: 0.15rem;
}
.mr-20 {
  margin-right: 0.20rem;
}
.mr-25 {
  margin-right: 0.25rem;
}
.mr-30 {
  margin-right: 0.30rem;
}
.mr-35 {
  margin-right: 0.35rem;
}
.mr-40 {
  margin-right: 0.40rem;
}
.mr-45 {
  margin-right: 0.45rem;
}
.mr-50 {
  margin-right: 0.50rem;
}
.mr-55 {
  margin-right: 0.55rem;
}
.mr-60 {
  margin-right: 0.60rem;
}
.mr-65 {
  margin-right: 0.65rem;
}
.mr-70 {
  margin-right: 0.70rem;
}
.mr-75 {
  margin-right: 0.75rem;
}
.mr-80 {
  margin-right: 0.80rem;
}
.mr-85 {
  margin-right: 0.85rem;
}
.mr-90 {
  margin-right: 0.90rem;
}
.mr-95 {
  margin-right: 0.95rem;
}
.mr-100 {
  margin-right: 1rem;
}
.mt-5 {
  margin-top:0.05rem;
}
.mt-10 {
  margin-top: 0.10rem;
}
.mt-15 {
  margin-top: 0.15rem;
}
.mt-20 {
  margin-top: 0.20rem;
}
.mt-25 {
  margin-top: 0.25rem;
}
.mt-30 {
  margin-top: 0.30rem;
}
.mt-35 {
  margin-top: 0.35rem;
}
.mt-40 {
  margin-top: 0.40rem;
}
.mt-45 {
  margin-top: 0.45rem;
}
.mt-50 {
  margin-top: 0.50rem;
}
.mt-55 {
  margin-top: 0.55rem;
}
.mt-60 {
  margin-top: 0.60rem;
}
.mt-65 {
  margin-top: 0.65rem;
}
.mt-70 {
  margin-top: 0.70rem;
}
.mt-75 {
  margin-top: 0.75rem;
}
.mt-80 {
  margin-top: 0.80rem;
}
.mt-85 {
  margin-top: 0.85rem;
}
.mt-90 {
  margin-top: 0.90rem;
}
.mt-95 {
  margin-top: 0.95rem;
}
.mt-100 {
  margin-top: 1rem;
}
.mb-5 {
  margin-bottom:0.05rem;
}
.mb-10 {
  margin-bottom: 0.10rem;
}
.mb-15 {
  margin-bottom: 0.15rem;
}
.mb-20 {
  margin-bottom: 0.20rem;
}
.mb-25 {
  margin-bottom: 0.25rem;
}
.mb-30 {
  margin-bottom: 0.30rem;
}
.mb-35 {
  margin-bottom: 0.35rem;
}
.mb-40 {
  margin-bottom: 0.40rem;
}
.mb-45 {
  margin-bottom: 0.45rem;
}
.mb-50 {
  margin-bottom: 0.50rem;
}
.mb-55 {
  margin-bottom: 0.55rem;
}
.mb-60 {
  margin-bottom: 0.60rem;
}
.mb-65 {
  margin-bottom: 0.65rem;
}
.mb-70 {
  margin-bottom: 0.70rem;
}
.mb-75 {
  margin-bottom: 0.75rem;
}
.mb-80 {
  margin-bottom: 0.80rem;
}
.mb-85 {
  margin-bottom: 0.85rem;
}
.mb-90 {
  margin-bottom: 0.90rem;
}
.mb-95 {
  margin-bottom: 0.95rem;
}
.mb-100 {
  margin-bottom: 1rem;
}
