.pl-5 {
  padding-left:0.05rem;
}
.pl-10 {
  padding-left: 0.10rem;
}
.pl-15 {
  padding-left: 0.15rem;
}
.pl-20 {
  padding-left: 0.20rem;
}
.pl-25 {
  padding-left: 0.25rem;
}
.pl-30 {
  padding-left: 0.30rem;
}
.pl-35 {
  padding-left: 0.35rem;
}
.pl-40 {
  padding-left: 0.40rem;
}
.pl-45 {
  padding-left: 0.45rem;
}
.pl-50 {
  padding-left: 0.50rem;
}
.pl-55 {
  padding-left: 0.55rem;
}
.pl-60 {
  padding-left: 0.60rem;
}
.pl-65 {
  padding-left: 0.65rem;
}
.pl-70 {
  padding-left: 0.70rem;
}
.pl-75 {
  padding-left: 0.75rem;
}
.pl-80 {
  padding-left: 0.80rem;
}
.pl-85 {
  padding-left: 0.85rem;
}
.pl-90 {
  padding-left: 0.90rem;
}
.pl-95 {
  padding-left: 0.95rem;
}
.pl-100 {
  padding-left: 1rem;
}
.pr-5 {
  padding-right:0.05rem;
}
.pr-10 {
  padding-right: 0.10rem;
}
.pr-15 {
  padding-right: 0.15rem;
}
.pr-20 {
  padding-right: 0.20rem;
}
.pr-25 {
  padding-right: 0.25rem;
}
.pr-30 {
  padding-right: 0.30rem;
}
.pr-35 {
  padding-right: 0.35rem;
}
.pr-40 {
  padding-right: 0.40rem;
}
.pr-45 {
  padding-right: 0.45rem;
}
.pr-50 {
  padding-right: 0.50rem;
}
.pr-55 {
  padding-right: 0.55rem;
}
.pr-60 {
  padding-right: 0.60rem;
}
.pr-65 {
  padding-right: 0.65rem;
}
.pr-70 {
  padding-right: 0.70rem;
}
.pr-75 {
  padding-right: 0.75rem;
}
.pr-80 {
  padding-right: 0.80rem;
}
.pr-85 {
  padding-right: 0.85rem;
}
.pr-90 {
  padding-right: 0.90rem;
}
.pr-95 {
  padding-right: 0.95rem;
}
.pr-100 {
  padding-right: 1rem;
}
.pt-5 {
  padding-top:0.05rem;
}
.pt-10 {
  padding-top: 0.10rem;
}
.pt-15 {
  padding-top: 0.15rem;
}
.pt-20 {
  padding-top: 0.20rem;
}
.pt-25 {
  padding-top: 0.25rem;
}
.pt-30 {
  padding-top: 0.30rem;
}
.pt-35 {
  padding-top: 0.35rem;
}
.pt-40 {
  padding-top: 0.40rem;
}
.pt-45 {
  padding-top: 0.45rem;
}
.pt-50 {
  padding-top: 0.50rem;
}
.pt-55 {
  padding-top: 0.55rem;
}
.pt-60 {
  padding-top: 0.60rem;
}
.pt-65 {
  padding-top: 0.65rem;
}
.pt-70 {
  padding-top: 0.70rem;
}
.pt-75 {
  padding-top: 0.75rem;
}
.pt-80 {
  padding-top: 0.80rem;
}
.pt-85 {
  padding-top: 0.85rem;
}
.pt-90 {
  padding-top: 0.90rem;
}
.pt-95 {
  padding-top: 0.95rem;
}
.pt-100 {
  padding-top: 1rem;
}
.pb-5 {
  padding-bottom:0.05rem;
}
.pb-10 {
  padding-bottom: 0.10rem;
}
.pb-15 {
  padding-bottom: 0.15rem;
}
.pb-20 {
  padding-bottom: 0.20rem;
}
.pb-25 {
  padding-bottom: 0.25rem;
}
.pb-30 {
  padding-bottom: 0.30rem;
}
.pb-35 {
  padding-bottom: 0.35rem;
}
.pb-40 {
  padding-bottom: 0.40rem;
}
.pb-45 {
  padding-bottom: 0.45rem;
}
.pb-50 {
  padding-bottom: 0.50rem;
}
.pb-55 {
  padding-bottom: 0.55rem;
}
.pb-60 {
  padding-bottom: 0.60rem;
}
.pb-65 {
  padding-bottom: 0.65rem;
}
.pb-70 {
  padding-bottom: 0.70rem;
}
.pb-75 {
  padding-bottom: 0.75rem;
}
.pb-80 {
  padding-bottom: 0.80rem;
}
.pb-85 {
  padding-bottom: 0.85rem;
}
.pb-90 {
  padding-bottom: 0.90rem;
}
.pb-95 {
  padding-bottom: 0.95rem;
}
.pb-100 {
  padding-bottom: 1rem;
}
