@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure{margin:0;padding:0;}
body{font-size:12px; word-wrap:break-word;background-color: #f5f5f7;font-family: "Microsoft YaHei";
  -webkit-font-smoothing:antialiased;/*让页面里的字体变清晰，变细用CSS怎么做？*/
}
html{height:100%;}
a,u,s,del{color:#666;text-decoration:none}
fieldset ,a img,.bor0 {border:0;}
i,em,b,th{font-style:normal;font-weight:100;}
li{list-style:none}
img{vertical-align:middle}
table{border-collapse:collapse;}
mark{background:none;}
input,textarea{outline:none;}/*去除谷歌点击蓝色虚框*/
textarea{resize:none;}/*禁止多行文本输入框的拖动*/
.margin{width:1200px;margin:0 auto;}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chexiaofanhuichehuishangyibu:before {
  content: "\e76b";
}

.icon-zhaoxiangji:before {
  content: "\e611";
}

.icon-pan_icon:before {
  content: "\e678";
}

.icon-xiangpi:before {
  content: "\e63d";
}

.icon-qianbi:before {
  content: "\e626";
}

.icon-zhongzhi:before {
  content: "\e63a";
}

/*全是字母时  单词断开换行显示*/
.ab{
  word-wrap:break-word;
  word-break:break-all;
}


/*文本溢出 出现省略号*/
.over{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/*垂直对齐方式*/
.valign:after{content:"";display:inline-block;width:0;height:100%;vertical-align:middle;}



/*万能清除法*/
.clear{zoom:1;}
.clear:after{content:"";clear:both;display:block;}

/*鼠标手势点*/
.cu{cursor:pointer;}
/*.cu:hover{color:#bd2c00}*/

.ind2{text-indent:2em}

.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.f-w{
  flex-wrap: wrap;
}
.border-r{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.j-b{
  justify-content: space-between;
}
.a-i{
  align-items: center
}
.zhezhao{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
/*.down_line{*/
/*   text-decoration:underline;*/
/* }*/
/*.top_line{*/
/*  text-decoration:overline;*/
/*}*/
/*.del_line{*/
/*  text-decoration:line-through;*/
/*}*/
/*css禁止用户选择*/
/*body{*/
/*  -webkit-touch-callout: none;*/
/*  -webkit-user-select: none;*/
/*  -khtml-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*}*/
.s-touch{
  -webkit-overflow-scrolling: touch;
}
/*.over_4{*/
/*  display: box !important;*/
/*  display: -webkit-box !important;*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*  -webkit-box-orient: vertical;*/
/*  -webkit-line-clamp: 4;!*第几行出现省略号*!*/
/*  !*text-align:justify;不能和溢出隐藏的代码一起写，会有bug*!*/
/*}*/
